
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slides {
  display: grid;
  margin: 0 30% 30px;
  position: relative;
}

.slides button {
    appearance: none;
    background: transparent;
    border: none;
    color: rgba(71, 0, 97, 0.962);
    position: absolute;
    font-size: 100px;
    width: -10%;
    height: 50%;
    top: 20%;
    transition: opacity 0.3s;
    opacity: 1;
    z-index: 5;
}

.slides button:hover {
    opacity: 0.5;
}

.slides button:focus {
  outline: none;
}
.slides button:first-child {
  left: -50%;
}
.slides button:last-child {
  right: -50%;
}

.slides .slide {
    grid-area: 1 / -1;
}

.slideContent {
  width: 100%;
  height: 30vw;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset)))
    rotateY(calc(-45deg * var(--dir)));
}

.slideContentInner {
  transform-style: preserve-3d;
  transform: translateZ(2rem);
  transition: opacity 0.3s linear;
  text-shadow: 0 0.1rem 1rem rgb(184, 0, 197);
  opacity: 0;
  margin-top: 30px;
  font-size: 2rem;
}

.slideContentInner .slideTitle {
    font-weight: normal;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
}

.slideContentInner .slideSubtitle::before {
    content: "— ";
}

.slideContentInner .slideDescription {
    padding: 20px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.2ch;
  }

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;
}

.slide[data-active]  .slideBackground {
    opacity: 0.2;
    transform: none;
  }

  .slide[data-active]  .slideContentInner {
    opacity: 1;
  }

  .slide[data-active]  .slideContent {
    --x: calc(var(--px) - 0.5);
    --y: calc(var(--py) - 0.5);
    opacity: 1;

    transform: perspective(1000px);
  }

  .slide[data-active]  .slideContent:hover {
      transition: none;
      transform: perspective(1000px) rotateY(calc(var(--x) * 45deg))
        rotateX(calc(var(--y) * -45deg));
    }

/* Products carousel */
.products-carousel{
  margin: 100px 30px;
}
.products-carousel .title {
 margin: 30px auto; 
}
.products-carousel h1{
  font-size: 50px;
}
.products-carousel a{
  font-size: 25px;
  font-weight: 900;
  color: #000;
  text-decoration: underline;
  transition: all 0.5s;
}
.products-carousel a:hover{
  opacity: 0.5;
}

.products-carousel img {
  margin-top: 30px;
  height: 300px;
  width: 300px;
}

/* Notice panel */
.notice-area {
  margin: 30px;
}
.notice-area .container {
  margin: 20px 200px;
}
.list-group {
  margin-bottom: 20px;
  border: 2px solid rgba(0, 0, 0, 0.31);
  box-shadow: 10px 10px rgba(117, 112, 112, 0.149);
  padding: 20px 50px;
  line-height: 40px;
  font-size: 17px;
}
.list-group span {
  margin-left: 15px;
}
.list-group .icon{
  color:rgba(76, 0, 198, 0.905);
  font-size: 20px;
}

.pagination li{
  width: max-content;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.5s;
}

.pagination li .page-item{
  border: 1px solid;
}

.pagination li .visually-hidden {
 display: none; 
}

.list-group .list-group-item:hover{
  border: 1px solid rgba(184, 113, 255, 0.905);
}
.pagination .page-item:hover{
  background-color: rgba(178, 114, 255, 0.268);
}
.pagination .page-item.active{
  background-color: rgba(178, 114, 255, 0.268);
}