.inquiries-page .questionContent {
    border: 2px solid #000000;
    margin: 30px 80px;
    height: 500px;
    padding: 20px 50px;
    line-height: 30px;
    font-size: 20px;
}

.inquiries-page .questionContent button, .updatedForm button {
    padding: 0 20px;
    background: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s;
    margin-top: 20px;
}

.inquiries-page .questionContent button:hover, .updatedForm button:hover {
    opacity: 0.5;
}

.updatedForm {
    margin: 30px 80px;
}

.updatedForm label {
    font-weight: 800;
    font-size: 18px;
}
.updatedForm textarea {
    font-size: 18px;
}