.history-page{
    overflow-x: auto;
    margin: 40px auto;
}
.history-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.history-page table{
    margin: auto;
    width: 80%;
}
.history-page table,th,tr,td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px;
}
table a{
    color: rgb(3, 165, 206);
}

.history-page img{
    width: 70px;
    height: 100px;
    object-fit: cover;
}

.history-page .btnEdit, .history-page .btnEditDisabled {
    height: max-content;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(3, 165, 206);
    color: #ffffff;
}

.history-page .btnEditDisabled {
    background-color: rgb(84, 97, 101);
}

.editArea {
    margin: 30px 60px;
}