.product_card {
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    padding: 0px;
    /* box-shadow: 0 0 15px #ddd; */
    margin: 0;
    margin-bottom: 30px;
    position: relative;
}
.product_card img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.product_card .product_box {
    padding: 15px;
    margin: 10px 0;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
}
.product_card .product_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 20px;
    color: #7d7c81;
}
.product_card .product_box span{
    width: 50%;
    font-size: 18px;
    font-weight: 900;
    color: #6255f6;
    background-color: #ffffff;
    font-family: 'Patua One', cursive;
}
/* .product_box p {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 50px;
    overflow: hidden;
} */
.product_box .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row_btn {
    width: 50%;
    text-align: center;
    color: rgb(133, 82, 145);
    font-weight: 600;
    transition: all 0.5s;
}
.row_btn a:hover {
    opacity: 0.5;
}
#btn_view{
    background: #6255f6;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px;
}
