/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1536px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Header */
@import url("./components//styles/header.css");

/* Products List */
@import url("./pages/styles/ProductsList.css");

/* Product Detail */
@import url("./pages/styles/ProductDetail.css");

/* Images Slider */
@import url("./utils/styles/ImageSlider.css");

/* Login page */
@import url("./pages/styles/Login.css");

/* Category */
@import url("./pages/styles/Category.css");

/* Create product */
@import url("./pages/styles/CreateProduct.css");

/* Cart */
@import url("./pages/styles/Cart.css");

/* Order History */
@import url("./pages/styles/History.css");

/* Footer */
@import url("./components//styles/footer.css");